
@media screen and (max-width: 920px) {
    .slider-container {
        width: 100% !important;
    }

    #line-right_shadow {
        background-image: linear-gradient(270deg, rgb(34 37 43) 5%, transparent 75%) !important;
        width: 30% !important;
    }

    #line-left_shadow {
        background-image: linear-gradient(90deg, rgb(34 37 43) 5%, transparent 75%) !important;
        width: 30% !important;
    }
}

@media screen and (max-width: 390px) {
    .draw-container {
        width: 50%;
        min-width: 300px;
    }
}