@media screen and (max-width: 641px) {
    .item-probability li p {
        line-height: 20px;
    }
}

@media screen and (max-width: 616px) {
    .item-probability > li {
        height: 500px;
    }

    .item-probability > li:nth-of-type(2) li{
        margin-top: 20px;
    }

    .item-probability > li:not(:nth-of-type(2)) {
        height: 300px;
    }
}

@media screen and (max-width: 549px) {
    .item-probability li p {
        min-width: 160px;
    }
}

@media screen and (max-width: 416px) {
    .item-probability > li {
        width: 230px;
        height: 670px;
    }

    .item-probability > li:nth-of-type(2) li,
    .item-probability > li:nth-of-type(5) li{
        margin-top: 20px;
    }

    .item-probability > li:not(:nth-of-type(2)) {
        height: 300px;
    }

    .item-probability > li:nth-child(5) {
        height: 500px;
    }
}

@media screen and (max-width: 416px) {
    body {
        font-size: 14px;
    }

    .item-probability li p {
        min-width: 110px;
    }
}